!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    // script(src="https://raw.github.com/LearnBoost/socket.io-client/master/dist/socket.io.js")
    script(src="js/app.js")
  body!= body